<!DOCTYPE html>
<html>
  <head>
    <title>RubyAstExplorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="codemirror.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://codemirror.net/theme/solarized.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="codemirror.js"></script>
    <script src="https://codemirror.net/mode/ruby/ruby.js"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
