<!DOCTYPE html>
<html>
  <head>
    <title>ruby-ast-explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="codemirror.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://codemirror.net/theme/solarized.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="codemirror.js"></script>
    <script src="https://codemirror.net/mode/ruby/ruby.js"></script>
  </head>

  <body>
    <header>
    <h1>ruby-ast-explorer</h1>
    <button id="create-gist">Create gist</button>
    <div>
      Parser: <a href="https://github.com/whitequark/parser">parser 2.6.3.0</a>
    </div>
    </header>
    <%= yield %>
    <footer>
      <p>Built with 
      <a href="https://rubyonrails.org/">Rails 5.2.3</a>, 
      <a href="https://www.ruby-lang.org/en/">ruby 2.5.5p157</a> | <a href="https://github.com/rajasegar/ruby-ast-explorer">Github</a></p>
    </footer>
  </body>
</html>
