<!DOCTYPE html>
<html>
  <head>
    <title>ruby-ast-explorer</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="codemirror.css" rel="stylesheet">
    <link rel="stylesheet" href="https://codemirror.net/theme/solarized.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" id="primary-nav">
      <a class="navbar-brand" href="#">ruby-ast-explorer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline">
          <% if session[:user_id] %>
          <button id="create-gist" class="btn btn-secondary btn-sm mr-5"  type="button">Export as gist</button>
        <% else %>

          <a class="btn btn-secondary btn-sm mr-5" href="/auth/github" role="button" data-toggle="tooltip" data-placement="bottom" title="Please sign in to export your transforms as gist" >Sign in with Github</a>
        <% end %>
          <div class="custom-control custom-switch custom-control-inline">
            <input type="checkbox" class="custom-control-input" id="switch-theme">
            <label class="custom-control-label" for="switch-theme">Dark Theme</label>
          </div>
        </form>
        <span class="navbar-text">
          Parser: <a href="https://github.com/whitequark/parser">parser 2.6.3.0</a>
        </span>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class="alert alert-info alert-dismissible fade show" role="alert">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= yield %>
    <footer>
      <p>Built with 
      <a href="https://rubyonrails.org/">Rails 5.2.3</a>, 
      <a href="https://www.ruby-lang.org/en/">ruby 2.5.5p157</a> | <a href="https://github.com/rajasegar/ruby-ast-explorer">Github</a></p>
    </footer>

    <script src="/codemirror.js"></script>
    <script src="https://codemirror.net/mode/ruby/ruby.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



  </body>
</html>
